html
    head
        link(rel="stylesheet" href="/css/main.css")
    body
        #app
            include sidebar.pug
    
        
        script(src="/js/vendor/require.js")
        script(src="/js/vendor/vue.min.js")
        script(src="/js/vendor/markdown.js")
        script(src="/js/vendor/router.js")
        script(src="/js/store.js")
        script(src="/js/main.js")
