#sidebar
    include sidebar-header.pug
    div(v-for="(list, name) in sidebar")
        .sidebar-category
            .title {{ list.name }}
            ul
                a(v-for="item in list.items" :href="'#/' + name + '/' + item")
                    li {{ item }}
