:root {
    --main-text-color: #58668b;
    --med-text-color: #00aa93;
    --light-text-color: #dadada;

    --muted-bg-color: #474753;
    --dark-bg-color: #343354;

    --radius: 4px;
}

* {
    -webkit-font-smoothing: antialiased;
}

html, body, input, button, select {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    margin: 0;
    color: var(--main-text-color);
}

#sidebar {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 260px;
    padding: 20px;

    background-color: var(--dark-bg-color);
    color: var(--light-text-color) !important;

    height: calc(100vh - 40px);
}

#sidebar .logo-container {
    margin-bottom: 20px;
}

#sidebar .logo-container #zulip_logo {
    display: inline-block;

    width: 30px;
    height: 30px;

    background-size: contain;
}

#sidebar .logo-container span {
    vertical-align: top;
    margin-left: 10px;
    font-size: 1.55em;
}

#sidebar .sidebar-category .title {
    font-weight: 600;
    cursor: pointer;
}

#sidebar ul {
    padding-left: 20px;
    cursor: pointer;
}

#sidebar ul a {
    color: inherit;
    text-decoration: none;
}

#sidebar li {
    padding: 5px 8px;
    list-style-type: none;
}

#sidebar li:hover {
    background-color: rgba(255,255,255,0.2);
    border-radius: var(--radius);
}

#markdown {
    position: fixed;
    top: 0px;
    left: 300px;

    padding: 20px 100px;
    margin-right: -4px;
    width: calc(100vw - 300px - 200px);
    height: calc(100vh - 40px);
    overflow-y: scroll;
}

#markdown h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

#markdown h2 {
    margin: 0;
    font-size: 1.5em;
    color: var(--med-text-color);
}

#markdown h3 {
    margin-bottom: 0px;
    color: var(--med-text-color);
}

#markdown h4 {
    margin-bottom: 0px;
}

#markdown p {
    line-height: 1.7;
}

#markdown a {
	color: #7997e6;
}

#markdown hr {
    margin: 20px 0px;

    border: none;
    border-bottom: 1px solid var(--light-text-color);
}

#markdown orb {
    display: inline-block;
    vertical-align: middle;

    width: 15px;
    height: 15px;

    border-radius: 8px;

    box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5);
}

#markdown orb.large {
    vertical-align: top;

    text-align: center;

    font-size: 0.7em;
    font-weight: 600;

    width: 60px;
    height: 0px;
    padding: 30px 10px 50px 10px;

    border-radius: 45px;

    box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5);
}

#markdown orb.large.white {
    color: #fff;
}

#markdown orb.large::after {
    content: attr(data-hex);
    display: block;
    font-size: 0.5em;
    margin-top: -5px;

    opacity: 0.5;
}

#markdown .font-types {
    margin: 10px 0px;
    padding: 0px 5px;
    border: 1px solid #eee;
    border-radius: 4px;
}

#markdown .font-types * {
    padding: 3px 0px;
}

#markdown .icons .icon {
    width: 100px;
    margin: 20px 0px;
}

#markdown .icons .large-icon {
    width: 200px;
}

#markdown .icons {
    margin-left: 40px;
}

#markdown .icon-set i.fa {
    width: 30px;
    padding: 8px 0px;
}

#markdown .icon-set span {
    position: relative;
    top: 2px;
    color: var(--med-text-color);
}

#markdown p code {
    font-size: 1.2em;
    font-weight: 600;

    color: rgb(200, 98, 132);
}

#markdown .shadow {
    padding: 10px;
    margin: 20px 0px;

    border: 1px solid #eee;
    border-radius: 4px;
}

#markdown pre {
    background-color: var(--muted-bg-color);
    color: var(--light-text-color);

    padding: 10px;
    /* the text above the <pre> is 18px, so accommodate that. */
    margin: 38px 0px 20px 0px;

    border-radius: 4px;
    border-top-left-radius: 0px;
    border: 1px solid var(--dark-bg-color);
}

#markdown pre code {
    position: relative;
    white-space: pre-line;
}

#markdown pre code::before {
    position: absolute;
    top: -32px;
    left: -11px;
    padding: 3px 5px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.8em;
    font-weight: 600;
    background-color: #eee;
    color: var(--main-text-color);

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#markdown pre code.html::before {
    content: "HTML";
}
